*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-text-900);
  background-color: var(--color-bg);
}

:root {
  --color-primary: rgb(229, 199, 67);
  --color-text-900: rgb(0, 0, 0);
  --color-text-400: rgb(127, 127, 127);
  --color-text-100: rgb(255, 255, 255);
  --color-bg: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

.button {
  background-color: rgb(0, 0, 0);
  color: var(--color-text-100);
  font-weight: 700;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.header {
  margin-top: 2rem;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .full-logo {
  display: none;
}
@media (min-width: 56.25em) {
  .header .full-logo {
    display: block;
    width: 12rem;
    height: auto;
  }
  .header .half-logo {
    display: none;
  }
}
.header-navigation {
  display: none;
}
@media (min-width: 56.25em) {
  .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
.header-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.header-navigation-list a {
  color: var(--color-text-900);
  font-weight: 700;
  position: relative;
}
.header-navigation-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}
.header-navigation-list a:hover::after, .header-navigation-list a:focus-visible::after {
  width: 100%;
}
.header-navigation-list a:active {
  color: var(--color-primary);
}

.footer {
  background-color: #000;
  color: var(--color-text-100);
  padding-block: 2rem;
}

.wrapper {
  width: min(100% - 2rem, 87.5rem);
  margin-inline: auto;
}

.hero {
  margin-block: 2rem;
  width: 100%;
}
.hero-writeups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.hero-writeups .heading {
  font-weight: 900;
  font-size: clamp(2rem, 3vw + 1.5rem, 5rem);
  line-height: clamp(2.6rem, 2vw + 3rem, 6rem);
}
.hero-writeups .heading .text-effect {
  display: inline-block;
  position: relative;
  padding-inline: 0.8rem;
  z-index: 1;
}
.hero-writeups .heading .text-effect::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  z-index: -1;
  transform: rotate(-2deg);
  transform-origin: center;
}
@media (min-width: 56.25em) {
  .hero-writeups {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-block: 1rem;
  }
}
@media (min-width: 56.25em) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 246, 245);
    border-radius: 3rem;
    padding-inline: 7rem;
  }
}
.hero-image {
  display: none;
}
@media (min-width: 56.25em) {
  .hero-image {
    display: block;
    width: 40rem;
    margin-right: 3rem;
  }
}

.partners {
  background-color: var(--color-primary);
}
.partners-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: clamp(1rem, 3vw + 1.5rem, 3rem);
  /* @include u.breakpoints-up(large) {
    flex-wrap: nowrap;
  } */
}
.partners-wrapper img {
  width: 8rem;
  max-width: 150px;
  height: auto;
}

.new-arrivals {
  margin-top: 3rem;
}
.new-arrivals-heading {
  text-align: center;
  font-weight: 900;
  margin-block: 2rem;
}
.new-arrivals-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 43.75em) {
  .new-arrivals-products {
    grid-template-columns: repeat(4, 1fr);
  }
}

.products-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 1rem;
}
.products-container-more {
  background-image: linear-gradient(rgb(236, 226, 178), rgb(238, 231, 198));
  border: 0.2rem solid var(--color-primary);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.products-container-more span {
  color: var(--color-primary);
  font-weight: 700;
}

.product-image, .favourite-products-image {
  border-radius: 0.7rem;
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 50%;
     object-position: 40% 50%;
}

.product-description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-description-container .product-title {
  font-weight: 700;
  font-size: 0.8rem;
}
.product-description-container .explore {
  font-size: 0.8rem;
  color: var(--color-text-400);
}
.product-description-container .product-description {
  display: flex;
  flex-direction: column;
}
.product-description-container img {
  width: 1.2rem;
  height: auto;
}

.cta {
  margin-top: 4rem;
  background-color: var(--color-primary);
  padding: 2rem;
}
.cta-image {
  display: none;
}
.cta-writeups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.cta-writeups-heading {
  font-weight: 900;
  font-size: 2rem;
}
.cta-writeups p {
  font-weight: 500;
}
.cta-writeups-bold-paragraph {
  font-weight: 700;
}

.favourite-heading {
  text-align: center;
  font-weight: 900;
  margin-block: 2rem;
}
.favourite-products-image {
  border-radius: 0.7rem;
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.favourite .favourite-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.download {
  margin-top: 2rem;
}
.download-writeups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.download-heading {
  font-weight: 900;
}
.download-store-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.download-store-images img {
  width: 6rem;
  height: auto;
}
.download-mobile {
  display: none;
}

.newsletter {
  margin-top: 2rem;
  background-color: var(--color-primary);
  padding: 2rem;
}
.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.newsletter-heading {
  font-weight: 900;
  color: var(--color-text-100);
}
.newsletter-paragraph {
  color: var(--color-text-100);
}
.newsletter-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.newsletter-input input {
  cursor: text;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0.4rem;
  padding-left: 1rem;
  font-weight: 700;
}
@media (min-width: 43.75em) {
  .newsletter-input input {
    width: 70%;
  }
}/*# sourceMappingURL=main.css.map */