@use "../utilities" as u;

// hero section
.hero {
  margin-block: 2rem;
  width: 100%;

  &-writeups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    .heading {
      font-weight: 900;
      font-size: clamp(2rem, 3vw + 1.5rem, 5rem);
      line-height: clamp(2.6rem, 2vw + 3rem, 6rem);

      // heading text effect
      .text-effect {
        @include u.text-effect;
      }
    }

    @include u.breakpoints-up(large) {
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      margin-block: 1rem;
    }
  }

  @include u.breakpoints-up(large) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 246, 245);
    border-radius: 3rem;
    padding-inline: 7rem;
  }

  &-image {
    display: none;

    @include u.breakpoints-up(large) {
      display: block;
      width: 40rem;
      margin-right: 3rem;
    }
  }
}

// Partners Section
.partners {
  background-color: var(--color-primary);

  &-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: clamp(1rem, 3vw + 1.5rem, 3rem);

    img {
      width: 8rem;
      max-width: 150px;
      height: auto;
    }

    /* @include u.breakpoints-up(large) {
      flex-wrap: nowrap;
    } */
  }
}

// New Arrivals Section
.new-arrivals {
  margin-top: 3rem;

  &-heading {
    text-align: center;
    font-weight: 900;
    margin-block: 2rem;
    
    // highlighted text effect
    .highlighted-text {
      @include u.highlighted-text;
    }

    @include u.breakpoints-up(large) {
      text-align: left;
    }
  }

  &-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include u.breakpoints-up(medium) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// common styles
// for the new arrival and favorite section
.products-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 1rem;

  &-more {
    background-image: linear-gradient(rgb(236, 226, 178), rgb(238, 231, 198));
    border: 0.2rem solid var(--color-primary);
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    span {
      color: var(--color-primary);
      font-weight: 700;
    }
  }
}

.product-image {
  border-radius: 0.7rem;
  width: 100%;
  // height: 14rem;
  height: clamp(15rem, 5vw + 10rem, 30rem);
  object-fit: cover;
  object-position: 40% 50%;
}

.product-description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .product-title {
    font-weight: 700;
    font-size: 0.8rem;
  }

  .explore {
    font-size: 0.8rem;
    color: var(--color-text-400);
  }

  .product-description {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 1.2rem;
    height: auto;
  }
}

// CTA Section
.cta {
  margin-top: 4rem;
  background-color: var(--color-primary);
  width: 100%;
  padding-block: 2rem;

  &-image {
    display: none;
  }

  @include u.breakpoints-up(large) {
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0;
    }

    &-image {
      display: block;
      width: 20rem;
    }
  }

  &-writeups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    @include u.breakpoints-up(large) {
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      width: 40%;
    }

    &-heading {
      font-weight: 900;
      font-size: clamp(2rem, 3vw + 1.5rem, 5rem);
      line-height: clamp(2.6rem, 2vw + 3rem, 6rem);
      .text-effect {
        @include u.text-effect;

        &::before {
          background-color: rgb(255, 255, 255);
        }
      }
    }

    p {
      font-weight: 500;
    }

    &-bold-paragraph {
      font-weight: 700;
    }
  }
}

// Favourite Section
.favourite {
  &-heading {
    @extend .new-arrivals-heading;
  }

  &-products-image {
    border-radius: 0.7rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
  }

  .favourite-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &-products-image {
    @extend .product-image;
  }
}

// Download
.download {
  margin-top: 2rem;

  &-container {
    @include u.breakpoints-up(large) {
      margin-top: 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  &-writeups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    @include u.breakpoints-up(large) {
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      width: 30%;
    }
  }

  &-heading {
    font-weight: 900;
  }

  &-store-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    img {
      width: 6rem;
      height: auto;
    }
  }

  &-mobile {
    display: none;

    @include u.breakpoints-up(large) {
      display: block;
      width: 20rem;
    }
  }
}

.newsletter {
  margin-top: 2rem;
  background-color: var(--color-primary);
  padding: 2rem;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  &-heading {
    font-weight: 900;
    color: var(--color-text-100);

    @include u.breakpoints-up(medium) {
      width: 70%;
    }

    @include u.breakpoints-up(large) {
      width: 50%;
    }
  }

  &-paragraph {
    color: var(--color-text-100);
  }

  &-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    @include u.breakpoints-up(large) {
      display: inline-block;
    }

    input {
      cursor: text;
      width: 100%;
      height: 2.5rem;
      border: none;
      border-radius: 0.4rem;
      padding-left: 1rem;
      font-weight: 700;

      &::placeholder {
        color: rgb(155, 155, 155);
      }

      @include u.breakpoints-up(medium) {
        width: 70%;
      }

      @include u.breakpoints-up(large) {
        width: 30%;
        height: 3rem;
      }
    }

    button {
      @include u.breakpoints-up(large) {
        position: absolute;
        margin-left: -4.6rem;
        margin-top: 0.22rem;
      }
    }
  }
}
